@mixin arrow($direction) {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  z-index: 2;
  color: rgba($color: #fff, $alpha: 0.6);
  cursor: pointer;
  user-select: none;
  #{$direction}: 2rem;
}

.slider-container {
  position: relative;
  height: 65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }

  .slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    width: 100%;
    height: 100%;

    .image-container {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: #cee5d0;
      filter: brightness(75%);
    }
  }

  .nav-circle {
    z-index: 10;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      cursor: pointer;
      margin-left: 0.5rem;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #333;
      display: inline-block;

      &.active {
        background-color: #fefefe;
        border-color: #fefefe;
      }
    }
  }

  .right-arrow {
    @include arrow('right');
  }

  .left-arrow {
    @include arrow('left');
  }
}
