.form {
  display: block;
  margin: 4em auto;
  width: 100%;
  max-width: 40rem;
  border: 1px solid #333;
  color: #333;
  border-radius: 0.5em;

  .form-wrapper {
    padding: 0.5em;

    h2 {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 300;
    }

    form {
      padding: 1rem;

      input {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 2rem;
        font-size: 0.8em;
        outline: none;
        border: 0;
        border-bottom: 0.5px solid #333;
      }
    }
  }

  .btn-container {
    padding: 1rem;
    margin: 0.7em auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links-container {
    margin-left: 3rem;

    a {
      text-transform: capitalize;
      display: block;
      color: #333;
      font-size: 0.7em;
      padding: 0.5em 0;
    }

    a:hover {
      color: #2193b0;
      text-decoration: underline;
    }
  }
}
