.vertical-bar {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 20%;
  min-height: calc(100vh - 8.5em);
  box-shadow: 3px 0px 30px -6px #d3d3d3;
  @media (max-width: 767px) {
    width: 100%;
    box-shadow: none;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    min-height: 4em;
  }
  .profile-container {
    margin-bottom: 1rem;
    p {
      font: {
        size: 2.5rem;
        weight: 600;
      }
      text-transform: capitalize;
      color: #333;
    }
  }

  .info {
    span {
      font-weight: 600;
      color: #333;
    }
  }

  .links {
    margin: 4rem auto;
    @media (max-width: 767px) {
      margin: 0;
    }

    .global-btn {
      margin-bottom: 1em;
    }
  }
}
