.header {
  height: 6.5rem;
  display: flex;
  color: white;
  background-color: #333;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 2px 0px #fff inset;
  padding: 0 2.5rem;

  a {
    color: white;
  }

  .header-links {
    display: inline-flex;
    gap: 1rem;

    a {
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
