.header {
  padding-bottom: 5px;
  box-shadow: 0px -8px 10px -3px rgba(255, 255, 255, 0.66);
  position: relative;
  background-color: #e0c2b0;

  svg {
    cursor: pointer;
    font-size: 1.5em;
    color: #fcf8e8;
  }

  a {
    text-transform: uppercase;
    font-weight: 600;
  }

  .admin {
    position: absolute;
    background-color: #333;
    padding: 10px 25px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    @media (max-width: 768px) {
      width: 50%;
      height: 2em;
      text-align: center;
    }

    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .main-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .drop-list {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;

        .drop-down {
          background-color: rgba(0, 0, 0, 0.66);
          position: absolute;
          bottom: 0;
          right: 0;
          width: 200px;
          padding: 2em;
          transform: translateY(100%);
          z-index: 100;
          border-radius: 5px;
          color: #fff;

          li {
            margin-bottom: 1.5rem;
          }

          .drop-down-search {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            span {
              text-transform: uppercase;
            }

            input {
              position: absolute;
              width: 145%;
              font-size: 0.7em;
              color: #333;
              padding: 5px 10px;
              outline: none;
              border: 0;
              z-index: 100;
            }

            .close-search {
              position: absolute;
              top: 50%;
              right: 0;
              z-index: 101;
              color: #333;
              transform: translate(100%, -50%);
            }
          }

          .drop-down-user-name {
            text-align: center;
            font-size: 1.2em;
          }

          .drop-down-shopping-cart a {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;

            span {
              color: #fff;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: firebrick;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
              display: grid;
              place-items: center;
              font-size: 1rem;
              font-weight: 600;
            }
          }

          .drop-down-sign-out a {
            color: #fff;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
    .search {
      width: 100px;
      @media (max-width: 768px) {
        display: none;
      }

      li {
        margin-left: 10px;
        display: flex;
        align-items: center;

        .close-search {
          position: absolute;
          color: #333;
          top: 50%;
          right: 1em;
          transform: translateY(-50%);
          font-size: 1.6em;
          cursor: pointer;
          z-index: 1000;
        }
        input {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 1.6em;
          color: #333;
          padding: 5px 10px;
          outline: none;
          border: 0;
          z-index: 100;
        }
      }
    }

    .logo {
      width: 150px;
      height: 150px;

      li {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .sign-logo {
      display: flex;
      flex-direction: column;
      width: 100px;
      @media (max-width: 768px) {
        display: none;
      }

      .logos {
        display: flex;
        justify-content: space-around;
        align-self: center;
        width: 100%;
        svg {
          color: #fcf8e8;
        }

        .shopping-cart-container {
          position: relative;

          .shopping-cart {
            font-size: 2.5rem;
          }

          span {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: firebrick;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            display: grid;
            place-items: center;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
          }
        }
      }

      .user-name {
        width: 100%;
        font-weight: 400;
        margin-bottom: 1rem;
        a {
          color: #fcf8e8;
        }
        .name {
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
  }
  .nav-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      display: none;
    }

    &.sticky {
      z-index: 10000;
      position: fixed;
      top: 0;
      margin-top: 0;
      width: 100%;
      background-color: #ecb390;
      padding: 0.5em 0;
      @media (max-width: 768px) {
        display: none;
      }
    }

    li {
      padding: 10px;

      a {
        color: #fcf8e8;
        text-transform: uppercase;
        border: 1px solid transparent;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 5px 10px;
        transition: border-color 0.3s ease-in;

        &:hover {
          border-color: #cee5d0;
        }
      }
    }
  }
}
