.header {
  padding-bottom: 5px;
  box-shadow: 0px -8px 10px -3px rgba(255, 255, 255, 0.66);
  position: relative;
  background-color: #ecb390;

  svg {
    cursor: pointer;
    font-size: 1.5em;
    color: #fcf8e8;
  }

  a {
    text-transform: uppercase;
    font-weight: 600;
  }

  .admin {
    position: absolute;
    background-color: #333;
    padding: 10px 25px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
  }

  .main-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .search {
      width: 100px;

      li {
        margin-left: 10px;
        display: flex;
        align-items: center;

        .close-search {
          position: absolute;
          color: #333;
          top: 50%;
          right: 1em;
          transform: translateY(-50%);
          font-size: 1.6em;
          cursor: pointer;
          z-index: 1000;
        }
        input {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 1.6em;
          color: #333;
          padding: 5px 10px;
          outline: none;
          border: 0;
          z-index: 100;
        }
      }
    }

    .logo {
      width: 150px;
      height: 150px;

      li {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .sign-logo {
      display: flex;
      justify-content: space-around;
      align-self: center;
      width: 100px;

      svg {
        color: #fcf8e8;
      }

      .shopping-cart-container {
        position: relative;

        .shopping-cart {
          font-size: 2.5rem;
        }

        span {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: firebrick;
          top: calc(-100% / 2);
          left: 50%;
          transform: translateX(-50%);
          display: grid;
          place-items: center;
          font-size: 1rem;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
  .nav-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.sticky {
      z-index: 10000;
      position: fixed;
      top: 0;
      margin-top: 0;
      width: 100%;
      background-color: #ecb390;
      padding: 0.5em 0;
    }

    li {
      padding: 10px;

      a {
        color: #fcf8e8;
        text-transform: uppercase;
        border: 1px solid transparent;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 5px 10px;
        transition: border-color 0.3s ease-in;

        &:hover {
          border-color: #cee5d0;
        }
      }
    }
  }
}
