.footer {
  height: 5.5rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  display: flex;
  align-items: center;
  .footer-wrapper {
    max-width: 1400px;
    margin: 0 auto;
  }
}
