.footer {
  padding: 60px 0;
  background-color: #212121;
  color: #fff;

  .footer-container {
    padding: 0 40px;

    .logo-container {
      width: 250px;
      height: 250px;
      @media (max-width: 767px) {
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .links-container {
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 1em 2em;

      @media (max-width: 767px) {
        display: none;
      }
      .link {
        h5 {
          margin-bottom: 20px;
          text-transform: uppercase;
          letter-spacing: 0.3em;
          font-size: 0.8em;
          font-weight: 200;
        }

        p {
          margin-bottom: 0.25em;
          font-size: 13px;
          padding: 4px 0;
          font-weight: 100;
          color: #fff;
        }
      }
    }

    .copywright {
      display: block;
      margin: 0;
      padding: 7.5px 0;
      text-align: center;
      font-size: 12px;
    }
  }
}
