.add-product {
  .add-product-form {
    padding: 0 3em;
    .product-input {
      width: 100%;
      margin: {
        top: 1rem;
        bottom: 1.5rem;
      }
      label {
        margin: {
          left: 1rem;
          top: 1rem;
          bottom: 1rem;
        }
        display: block;
        text-transform: capitalize;
      }
      input {
        width: 100%;
        border: {
          width: 1px;
          radius: 5px;
          color: #d3d3d3;
        }
        padding: 1rem 2rem;
        outline: 5px solid transparent;

        &::placeholder {
          text-transform: capitalize;
        }
        &:focus-visible,
        &:focus {
          border-color: transparent;
          outline: 5px solid #d3d3d3;
        }
      }
    }
  }
}
