.add-product {
  .add-product-form {
    padding: 0 3em;
    .product-input {
      width: 100%;
      margin: {
        top: 1rem;
        bottom: 1.5rem;
      }
      label {
        margin: {
          left: 1rem;
          top: 1rem;
          bottom: 1rem;
        }
        display: block;
        text-transform: capitalize;
      }
      input {
        width: 100%;
        border: {
          width: 1px;
          radius: 5px;
          color: #d3d3d3;
        }
        padding: 1rem 2rem;
        outline: 5px solid transparent;

        &::placeholder {
          text-transform: capitalize;
        }
        &:focus-visible,
        &:focus {
          border-color: transparent;
          outline: 5px solid #d3d3d3;
        }
      }

      .add-button {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 50px;
        text-transform: uppercase;
        font-size: 1em;
        border: 1px solid #333;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;

        span {
          user-select: none;
        }
        &::before,
        &:after {
          content: '';
          position: absolute;
          background-color: #fff;
          transition: all 0.5s ease-in-out;
          z-index: -1;
        }

        &::before {
          width: 130px;
          height: 50px;
        }

        &::after {
          width: 150px;
          height: 30px;
        }

        &:hover::before {
          width: 0px;
          background-color: #fff;
        }

        &:hover::after {
          height: 0px;
          background-color: #fff;
        }

        &:hover {
          background-color: #fff;
        }
      }
    }
  }
}
