.homepage-container {
  height: calc(100% - 6.5rem - 5.5rem);

  .homepage-content {
    padding: 0 3rem;
    margin-top: 10rem;
  }

  .homepage-main-section h2 {
    text-align: center;
    margin-bottom: 10rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
  }

  .homepage-main-section h2:before {
    content: "";
    position: absolute;
    width: 20%;
    height: 0.1rem;
    background-color: #333;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .homepage-main-section h2:after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #333;
    bottom: -1.5rem;
    left: 50%;
    transform: translate(-50%, 0.5rem);
  }
}
